.light{
  background-color: white;
  color: black;
}
.dark{
  background-color: #343541;
  color: white;
}
.dark select{
  background-color: #343541;
  color: white;
}
.dark input{
    color: black;
  }
  .dark span{
    color:white;
  }
.Sans-serif{
  font-family:sans-serif;
  font-weight: 400;
  font-size: medium;
}
.Monospace{
  font-family: monospace;
  font-weight: 400;
  font-size: medium;
}
.CourierNew{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: medium;
}
.Franklin{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: medium;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
    background-color: lightcoral;
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
    background-color: lightcoral;
  }
  80% {
    transform: translateX(8px);
    background-color: lightcoral;
  }
  90% {
    transform: translateX(-8px);
    background-color: lightcoral;
  }
}

.wrongSubmit input{
  animation: shake-horizontal 0.8s ease-in-out both;
}